<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh-Hant</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.YinTzuYuan.ShowChinesePhonetics</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Show Chinese Phonetics</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.0</string>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>UpdateFeedURL</key>
	<string>https://raw.githubusercontent.com/yintzuyuan/ShowChinesePhonetics/main/ShowChinesePhonetics.glyphsReporter/Contents/Info.plist</string>
	<key>productPageURL</key>
	<string>https://github.com/yintzuyuan/ShowChinesePhonetics</string>
	<key>productReleaseNotes</key>
	<string>Add Wade-Giles romanization support. Replace numeric pinyin with Wade-Giles system. Support for Zhuyin, Hanyu Pinyin, and Wade-Giles phonetic notations.</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2025 TzuYuan Yin</string>
	<key>NSPrincipalClass</key>
	<string>ShowChinesePhonetics</string>
	<key>PyMainFileNames</key>
	<array>
		<string>plugin.py</string>
	</array>
</dict>
</plist>
